<div class="uk-section uk-margin-xlarge-top">
    <div class="uk-container">
        <h3 class="uk-margin-large-bottom">Habilidades</h3>
        
        <div class="uk-grid-match uk-child-width-1-3@s uk-margin" uk-grid>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/photoshop.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">Photoshop</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/xd.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">Adobe XD</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/illustrator.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">Illustrator</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/excel.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">Excel</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/powerpoint.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">Powerpoint</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/word.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">Word</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/css-3.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">CSS</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/html-5.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">HTML</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-comment">
                <div class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="assets/img/icons/python.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="uk-comment-title uk-margin-remove">Python</h5>
                            <h5 class="uk-comment-title uk-margin-remove">50%</h5>
                            <progress class="uk-progress" value="50" max="100"></progress>
                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                <li><a href="#">12 days ago</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
