<div class="background-color-admin">
    <app-navbar-admin></app-navbar-admin>
</div>
<div class="background-color-body-admin">
    
    <div class="uk-animation-fade uk-container uk-container-large">
        <div uk-height-viewport="offset-top: true" class="uk-section">
            <div class="uk-container">
                <h3 class="uk-margin-large-bottom">Administración del sitio</h3>
                    <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-middle uk-table-small uk-table-divider">
                                <thead>
                                    <tr>
                                        <th class="uk-table-shrink">Imagen</th>
                                        <th class="uk-table-shrink uk-text-nowrap">Empresa</th>
                                        <th class="uk-table-shrink uk-text-nowrap">Periodo</th>
                                        <th class="uk-table-expand">Descripción</th>
                                        <th class="uk-table-shrink uk-text-nowrap"></th>
                                        <th class="uk-table-shrink uk-text-nowrap"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ligter">
                                        <td>
                                            <img class="uk-preserve-width" src="../../../../assets/img/experience/experience1.png" width="80" height="80" alt="">
                                        </td>
                                        <td class="uk-text-nowrap uk-text-center">
                                            EuroParts
                                        </td>
                                        <td class="uk-text-nowrap uk-text-center">
                                            2019-2020
                                        </td>
                                        <td class="uk-preserve-width">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                        </td>
                                        <td class="uk-text-nowrap">
                                            <button class="uk-button uk-preserve-width uk-button-secondary" uk-icon="pencil"></button>
                                        </td>
                                        <td class="uk-text-nowrap">
                                            <a class="" href="#modal" uk-toggle><button class="uk-button uk-preserve-width uk-button-danger" uk-icon="trash"></button></a>                       
                                            <div id="modal" uk-modal>
                                                <div class="uk-modal-dialog uk-modal-body">
                                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                                    <h2 class="uk-modal-title">Headline</h2>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                    <p class="uk-text-right">
                                                        <button class="uk-button uk-modal-close uk-button-secondary" type="button">Cancelar</button>
                                                        <button class="uk-button uk-button-danger" type="button">Borrar</button>
                                                    </p>
                                                </div>
                                            </div> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
