<div class="uk-section uk-margin-xlarge-top">
    <div class="uk-container" *ngFor="let aboutme of aboutmes">
        <h3 class="uk-margin-large-bottom">{{aboutme.title}}</h3>
            <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid >
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="{{aboutme.urlimg}}" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
            <div>
                    <div class="uk-card-body">
                        <p>{{aboutme.descripcion}}</p>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-flex-last@s uk-card-media-right uk-cover-container" >
                            <div class="container" >
                                <a *ngFor="let media of medias" href="{{media.urlsite}}">
                                    <img src="{{media.urlimg}}" width="50" height="50" alt="{{media.name}}" title="{{media.name}}">
                                    <canvas width="10" height="10"></canvas>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
<div id="freetime"></div>