<div id="about" class="uk-section uk-margin-xlarge-top">
    <div class="uk-container">
        <h3 class="uk-margin-large-bottom">Acerca de mi</h3>
            <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="assets/svg/aboutme.svg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
            <div>
                    <div class="uk-card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                             It has survived not only five centuries, but also the leap into electronic</p>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                            <div class="container ">
                                <a href="#">
                                    <img src="assets/img/icons/github.png" width="50" height="50" alt="">
                                </a>
                                <canvas width="10" height="10"></canvas>
                                <a href="#">
                                    <img src="assets/img/icons/twitter.png" width="50" height="50" alt="">
                                </a>
                                <canvas width="10" height="10"></canvas>
                                <a href="#">
                                    <img src="assets/img/icons/instagram.png" width="50" height="50" alt="">
                                </a>
                                <canvas width="10" height="10"></canvas>
                                <a href="#">
                                    <img src="assets/img/icons/linkedin.png" width="50" height="50" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
