<div class="background-color-admin">
    <app-navbar-admin></app-navbar-admin>
</div>

<div class="background-color-body-admin">
    
    <div class="uk-animation-fade uk-container uk-container-large">
        <div uk-height-viewport="offset-top: true" class="uk-section">
            <div class="uk-container">
                <h3 class="uk-margin-large-bottom">Edita el acerca de mi</h3>
                    <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-middle uk-table-small uk-table-divider">
                                <thead>
                                    <tr>
                                        <th class="uk-table-shrink">Imagen</th>
                                        <th class="uk-table-expand">Descripción</th>
                                        <th class="uk-table-shrink uk-text-nowrap">Media</th>
                                        <th class="uk-table-shrink uk-text-nowrap"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ligter">
                                        <td>
                                            <img class="uk-preserve-width uk-border-circle" src="../../../../assets/svg/aboutme.svg" width="100" height="100" alt="">
                                        </td>
                                        <td class="uk-preserve-width">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                        </td>
                                        <td class="uk-text-nowrap">
                                            <a href="" target="_blank" rel="noopener noreferrer">
                                                <img class="uk-preserve-width uk-border-circle" src="../../../../assets/img/icons/github.png" width="60" height="60" alt="">
                                            </a>
                                        </td>
                                        <td class="uk-text-nowrap">
                                            <button class="uk-button uk-preserve-width uk-button-secondary" uk-icon="pencil"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
