<div class="uk-section uk-margin-xlarge-top">
    <div class="uk-container">

        <h3 class="uk-margin-large-bottom">Experiencia</h3>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-hover">
                    <div class="uk-card-media-top uk-text-center">
                        <img src="assets/img/experience/experience1.png" width="200" height="200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center">EuropartsCaribe</h3>
                        <h3 class="uk-card-title uk-text-center">2019-2020</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-hover">
                    <div class="uk-card-media-top uk-text-center">
                        <img src="assets/img/experience/experience2.jpg" width="200" height="200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center">The Fives Beach Hotel & Residences</h3>
                        <h3 class="uk-card-title uk-text-center">2020-2021</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-hover">
                    <div class="uk-card-media-top uk-text-center">
                        <img src="assets/img/experience/experience3.png" width="200" height="200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center">TM Grupo Inmobiliario</h3>
                        <h3 class="uk-card-title uk-text-center">2021-2022</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

