<div class="container">
    <header>
        <!-- Main Navbar -->
        <nav class="uk-animation-fade uk-container uk-navbar">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a [routerLink]="['/admin']">OliverLucero<strong>CV</strong></a>
                    </li> 
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li><a class="uk-text-large" [routerLink]="['/admin']">Inicio</a></li>
                    <li><a class="uk-text-large" [routerLink]="['/admin','list-about-me']">Acerca de mi</a></li>
                    <li><a class="uk-text-large" [routerLink]="['/admin/list-freetime']">Pasatiempos</a></li>
                    <li><a class="uk-text-large" [routerLink]="['/admin/list-skills']">Habilidades</a></li>
                    <li><a class="uk-text-large" [routerLink]="['/admin/list-experience']">Experiencia</a></li>
                    <li><a class="uk-text-large" [routerLink]="['/admin/list-contact']">Contacto</a></li>
                    <li><a class="uk-text-large" [routerLink]="['/login']" (click)="logout()">Logout</a></li>
                </ul>
                <a href="#" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
            </div>
        </nav>
    </header>
    
    <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav">
                <li><a class="uk-text-large" [routerLink]="['/admin']">Inicio</a></li>
                <li><a class="uk-text-large" [routerLink]="['/admin/list-about-me']">Acerca de mi</a></li>
                <li><a class="uk-text-large" [routerLink]="['/admin/list-freetime']">Pasatiempos</a></li>
                <li><a class="uk-text-large" [routerLink]="['/admin/list-skills']">Habilidades</a></li>
                <li><a class="uk-text-large" [routerLink]="['/admin/list-experience']">Experiencia</a></li>
                <li><a class="uk-text-large" [routerLink]="['/admin/list-contact']">Contacto</a></li>
                <li><a class="uk-text-large" [routerLink]="['/login']" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>


