.nav-color a:hover{
    color: black !important;
}

ul li a {
    font-family: var(--unnamed-font-family-roboto) !important;
    font-style: var(--unnamed-font-style-italic) !important;
    font-weight: var(--unnamed-font-weight-bold) !important;
    font-size: var(--unnamed-font-size-20) !important;
    line-height: var(--unnamed-line-spacing-24) !important;
    letter-spacing: var(--unnamed-character-spacing-0) !important;
    color: var(--blanco) !important;
    text-transform: none !important;
    }

.uk-navbar-container{
    background-color: var(--footer) !important;
}

nav{
    background-color: var(--footer) !important;
    height: 80px;
    width: 100%;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    --fondo-wallpaper-40: #1B69A6;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 96.5%;
      height: 100vh;
      background: #2c3e50;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  @media (max-width: 676px){
    ul{

        width: 95.5%;

  }
}

@media (max-width: 578px){
    ul{

        width: 94.5%;

  }
}

@media (max-width: 492px){
    ul{

        width: 93.5%;

  }
}