<div  class="uk-position-relative">

    <div class="uk-section-default">
        <div uk-height-viewport="expand: true" class="uk-section uk-light uk-background-cover" style="background-image: url(assets/img/wallpaper/wallpaper3.png)">
            <div class="uk-container uk-text-center uk-margin-large-top">
                <img class="uk-border-circle" src="assets/img/wallpaper/wallpaper2.jpg" width="300" height="300" alt="">
                <h3>Section with Images</h3>
    
                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav nav-color">
                    <li><a href="#">Acerca de mi</a></li>
                    <li><a href="#">Pasatiempos</a></li>
                    <li><a href="#">Habilidades</a></li>
                    <li><a href="#">Experiencia</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
