<div class="background-color-body-admin">
    <div class="uk-animation-fade uk-container">
        <div uk-height-viewport="offset-top: true" class="uk-section">
            <div class="uk-container">
            <h3 class="uk-margin-medium-bottom uk-text-left">Agrega un pasatiempo</h3>
                <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                    <div class="container">
                        <form class="uk-grid-small" uk-grid>
                            <div class="uk-width-1-1">
                                <div class="uk-form-label uk-text-left">Url imagen</div>
                                <input class="uk-input" type="text" name="urlimg" placeholder="Ex.https://fotos.com/content/logo.png" [(ngModel)]="freetime.urlimg">
                            </div>
                            <div class="uk-width-1-1@s">
                                <div class="uk-form-label uk-text-left">Actividad</div>
                                <input class="uk-input" type="name" name="subtitle" placeholder="Ex.Repostería" [(ngModel)]="freetime.subtitle">
                            </div>
                            <div class="uk-margin uk-width-1-1">
                                <div class="uk-form-label uk-text-left">Descripción</div>
                                <textarea class="uk-textarea" rows="8" name="descripcion" placeholder="Ex.Me gusta hacer pasteles" [(ngModel)]="freetime.descripcion"></textarea>
                            </div>
                        </form>
                            <button class="uk-button uk-modal-close uk-button-secondary uk-margin-small-right" type="button" (click)="cancel()">Cancelar</button>
                            <button class="uk-button uk-button-primary" type="button" (click)="addFreetime()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
