<div class="uk-animation-fade uk-container">
    <div uk-height-viewport="offset-bottom: 20" class="uk-section">
        <div class="uk-container">
        <h3 class="uk-margin-medium-bottom uk-text-left">Agrega un pasatiempo</h3>
            <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                <div class="container">
                    <form class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-1">
                            <div class="uk-form-label uk-text-left">Url imagen</div>
                            <input class="uk-input" type="text" placeholder="Ex.https://fotos.com/content/logo.png">
                        </div>
                        <div class="uk-width-1-1@s">
                            <div class="uk-form-label uk-text-left">Actividad</div>
                            <input class="uk-input" type="name" placeholder="Ex.Repostería">
                        </div>
                        <div class="uk-margin uk-width-1-1">
                            <div class="uk-form-label uk-text-left">Descripción</div>
                            <textarea class="uk-textarea" rows="8" placeholder="Ex.Me gusta hacer pasteles"></textarea>
                        </div>
                    </form>
                        <button class="uk-button uk-modal-close uk-button-secondary uk-margin-small-right" type="button">Cancelar</button>
                        <button class="uk-button uk-button-primary" type="button">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>