<div uk-height-viewport="offset-top: true" class="uk-section">
    <div class="uk-container uk-animation-fade">
        <h3 class="uk-margin-large-bottom">Administración del sitio</h3>
            <div class="uk-card uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-middle uk-table-small uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-table-expand">Catalogo</th>
                                <th class="uk-table-shrink uk-text-nowrap"></th>
                                <th class="uk-table-shrink uk-text-nowrap"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="uk-table-link">
                                    Encabezado
                                </td>
                                <td class="uk-text-nowrap">
                                </td>
                                <td class="uk-text-nowrap">
                                    <button class="uk-button uk-preserve-width uk-button-secondary" [routerLink]="['/admin','list-main']" uk-icon="file-edit"></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-table-link">
                                    Acerca de mi
                                </td>
                                <td class="uk-text-nowrap">
                                </td>
                                <td class="uk-text-nowrap">
                                    <button class="uk-button uk-preserve-width uk-button-secondary" [routerLink]="['/admin','list-about-me']" uk-icon="file-edit"></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-table-link">
                                    Pasatiempos
                                </td>
                                <td class="uk-text-nowrap">
                                    <a class="" [routerLink]="['/admin','freetime','-1']" uk-toggle><button class="uk-button uk-preserve-width uk-button-primary" uk-icon="plus-circle"></button></a>
                                </td>
                                <td class="uk-text-nowrap">
                                    <button class="uk-button uk-preserve-width uk-button-secondary" [routerLink]="['/admin','list-freetime']" uk-icon="file-edit"></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-table-link">
                                    Habilidades
                                </td>
                                <td class="uk-text-nowrap">
                                    <a class="" [routerLink]="['/admin','skill','-1']" uk-toggle><button class="uk-button uk-preserve-width uk-button-primary" uk-icon="plus-circle"></button></a>
                                </td>
                                <td class="uk-text-nowrap">
                                    <button class="uk-button uk-preserve-width uk-button-secondary" [routerLink]="['/admin','list-skills']" uk-icon="file-edit"></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-table-link">
                                    Experiencia
                                </td>
                                <td class="uk-text-nowrap">
                                    <a class="" [routerLink]="['/admin','experience','-1']" uk-toggle><button class="uk-button uk-preserve-width uk-button-primary" uk-icon="plus-circle"></button></a>
                                </td>
                                <td class="uk-text-nowrap">
                                    <button class="uk-button uk-preserve-width uk-button-secondary" [routerLink]="['/admin','list-experience']" uk-icon="file-edit"></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-table-link">
                                    Redes Sociales
                                </td>
                                <td class="uk-text-nowrap">
                                    <a class="" [routerLink]="['/admin','media','-1']" uk-toggle><button class="uk-button uk-preserve-width uk-button-primary" uk-icon="plus-circle"></button></a>
                                </td>
                                <td class="uk-text-nowrap">
                                    <button class="uk-button uk-preserve-width uk-button-secondary" [routerLink]="['/admin','list-media']" uk-icon="file-edit"></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="uk-table-link">
                                    Contacto
                                </td>
                                <td class="uk-text-nowrap">
                                </td>
                                <td class="uk-text-nowrap">
                                    <button class="uk-button uk-preserve-width uk-button-secondary" [routerLink]="['/admin','list-contact']" uk-icon="file-edit"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

