<div class="uk-section uk-margin-xlarge-top">
    <div class="uk-container">
        <h3 class="uk-margin-large-bottom">Pasatiempos</h3>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-hover">
                    <div class="uk-card-media-top uk-text-center">
                        <img src="assets/img/icons/skill1.png" width="200" height="200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center">Series</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-hover">
                    <div class="uk-card-media-top uk-text-center">
                        <img src="assets/img/icons/skill2.png" width="200" height="200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center">Diseño grafico</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-hover">
                    <div class="uk-card-media-top uk-text-center">
                        <img src="assets/img/icons/skill3.png" width="200" height="200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-text-center">Videojuegos</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
